<%- include("./common/header.ejs") %>

<section class="container py-5">
  <div class="row g-4">
    <!-- Left: Images -->
    <div class="col-md-6">
      <img
        id="mainImage"
        src="http://localhost:4000/<%=product.images[0] %>"
        class="img-fluid rounded mb-3 main-product-image"
        alt="Main Product"
      />

      <div class="d-flex overflow-auto gap-2 w-100">
        <% product.images.slice(1).map((image, index) => { %>
        <img
          onclick="changeImage(this.src)"
          src="http://localhost:4000/<%= image %>"
          class="img-thumbnail thumb-image"
          alt="Thumb <%= index + 1 %>"
        />
        <% }) %>
      </div>
    </div>

    <!-- Right: Product Info -->
    <div class="col-md-6">
      <h2 class="fw-bold"><%=product.title%></h2>
      <p class="text-muted">Brand: <strong><%=product.brand%> </strong></p>
      <h4 class="text-success">₹<%=product.price%></h4>

      <div class="mb-3">
        <label class="form-label">Description:</label>
        <p class="text-secondary"><%=product.description%></p>
      </div>

      <button class="btn btn-outline-light w-100 mt-3">Add to Cart</button>
    </div>
  </div>
</section>

<%- include("./common/footer.ejs") %>

<script>
  function changeImage(src) {
    document.getElementById("mainImage").src = src;
  }
</script>
